.nav {
  height: 80px;
  width: 100vw;
  color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(20, 20, 20);
}
.logo-title {
  margin: 40px 0;
  color: rgb(78, 78, 78);
}
.logo {
  height: 48px;
  width: 48px;
  margin-right: 10px;
}
